
html {
    scroll-behavior: smooth;
}

body {
    background-color: #E6E1C8;
    color: white;
    font-family: 'FreightTextProMedium-Regular';
}

.container-fluid.custom {
    padding-left: 30px;
    padding-right: 30px;
}

#bandname {
    font-size: 600%;
}

.joe {
    font-family: 'BrandonGrotesqueWeb-Bold';
}

.courier {
    font-family: 'Courier New', Courier, monospace;
}

.menu-links {
    letter-spacing: 3px;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 43px;
    font-family: 'Courier New';
}

.divider {
    border: 3px solid white;
}


#top-panel {
    padding-top: 150px; padding-bottom: 40px;
}

#bandname {
    padding-top: 200px;
}

#brand {
    visibility: hidden;
    margin-right: -205px;
}
.cont {
    position: relative;
    text-align: center;
    color: white;
}
.caption {
    position: absolute;
    bottom: 50px;
    right: 16px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}

.caption-two {
    position: absolute;
    bottom: 20px;
    right: 150px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}

.caption-line {
    position: absolute;
    bottom: 65px;
    right: 5px;
    left: 5px;
    color:white;
    background-color: white;
    height: 1px;
}

#albumcoming {
    font-size: 300%; 
    padding-left:40px; 
    padding-top:40px;
}

.buttons {
    cursor: pointer;
    background-color:  #CFC9AB;
    border: 1px solid #413F2D;
}

.buttons-text {
    padding: 20px 15px 20px 15px; color:#413F2D;
}

.shows-text {
    font-size:250%;
    padding-top:200px;
}

.hideout-m {
    display: none;
}

input::placeholder {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    opacity: .6;
}

.email {
	border: none;
	border-radius: 8px;
	background-color: #57553B;
}


.submit {	
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;	
    border-radius: 8px;	
    background-color: #2C2B1E;
}

/* Media Queries for responsive */

@media screen and (max-width: 766px) {
    #nav-logo {display: none;}
    .menu-links {letter-spacing: 0px;}
    #top-panel {padding-top:60px;}
    #brand {visibility: visible; margin-right: 0px; padding-top: 20px;}
    .shows-text {padding-top: 20px;}
    .hideout-m {display: block;}
    .hideout {display:none;}
    .buttons-text {font-size: 85%;padding: 10px 5px 10px 5px;}
  } 


  @media screen and (max-width: 974px) {
    .caption {display: none;}
    .caption-two {display: none;}
    .caption-line {display: none;}
    #albumcoming {font-size: 200%; padding-left:40px; padding-top:40px;} 
    #bandname {padding:40px 40px 40px 40px; font-size:300%}
  }

  @media screen and (max-width: 1095px) {
    .buttons-text {font-size: 100%;}
  }

  @media screen and (min-width: 765px) {
    .kaption {display: block;}
    .kaption-two {display: block;}
    .kaption-line {display: block;}
  }
