
html {
    scroll-behavior: smooth;
}

body {
    background-color: #E6E1C8;
    color: white;
    font-family: 'FreightTextProMedium-Regular';
}

p {
    margin: 0;
}

video {
    height: auto;
    width: 100%;
}

.container-fluid.custom {
    padding-left: 30px;
    padding-right: 30px;
}

#bandname {
    font-size: 600%;
}

.joe {
    font-family: 'BrandonGrotesqueWeb-Bold';
}

.courier {
    font-family: 'Courier New', Courier, monospace;
}

.menu-links {
    letter-spacing: 3px;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 43px;
    font-family: 'Courier New';
}

.divider {
    border: 3px solid white;
}


#top-panel {
    padding-top: 150px; padding-bottom: 40px;
}

#bandname {
    padding-top: 200px;
}

#brand {
    visibility: hidden;
    margin-right: -205px;
}
.cont {
    position: relative;
    text-align: center;
    color: white;
}

.caption-box {
    background-color: rgba(255, 255, 255, 0.6);
}
.caption {
    position: absolute;
    bottom: 50px;
    right: 16px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    border: 0px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

.caption-two {
    position: absolute;
    bottom: 20px;
    right: 150px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
    border: 0px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

.caption-line {
    position: absolute;
    bottom: 65px;
    right: 5px;
    left: 5px;
    color:white;
    background-color: white;
    height: 1px;
}

#albumcoming {
    font-size: 300%; 
    padding-left:40px; 
    padding-top:40px;
}

.tracks {
    font-size: 25px;
}

.upcoming-shows {
    margin: 10px;
    height: auto;
    overflow: auto;
    color:#413F2D;
}

.shows-box {
    max-width: 100%;
    height: auto;
}

.buttons {
    cursor: pointer;
    background-color:  #CFC9AB;
    border: 1px solid #413F2D;
    width: 601px;
    height: 118px;
    text-align: center;
}

.buttons-text {
    padding: 20px 15px 20px 15px; color:#413F2D;
}

.shows-text {
    font-size:250%;
    padding-top:20px;
}

.hideout-m {
    display: none;
}

input::placeholder {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    opacity: .6;
}

.email {
    border: none;
    font-family: 'BrandonGrotesqueWeb-Bold';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
	border-radius: 8px;
    background-color: #57553B;
    height: 55px;
    width: 380px;
    padding-left: 20px;
}


.submit {	
    border: none;
    font-family: 'BrandonGrotesqueWeb-Bold';
    font-size: 18px;
    letter-spacing: 1.5px;
    color: white;	
    border-radius: 8px;	
    background-color: #2C2B1E;
    height: 55px;
    width: 215px;
}

.submit:hover {
    cursor: pointer;
}

.email-button {
    border: none;
    font-family: 'BrandonGrotesqueWeb-Bold';
    font-size: 16px;
    letter-spacing: 1.5px;
    color: white;	
    border-radius: 8px;	
    background-color: #2C2B1E;
    height: 55px;
    width: auto;
    margin: 5px;
    padding-top: 10px;
}

.email-button:hover {
    cursor: pointer;
}

.parent-flex {
    display: flex;
    flex-direction: row;
}

.flex {
    justify-content: space-between;
}

.brown-text {
    color:#413F2D;
}

.brown-text {
    text-decoration: none;
}

a:link {
    color:#413F2D;
}

a:visited,
a:hover,
a:active {
    color: white;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    border: 0px;
    border-radius: 6px;
  }
  
  /* hover effect */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-instagram {
    background: #125688;
    color: white;
  }

  /* YouTude */
  .fa-youtube {
      background: rgb(233, 63, 54)
  }

/* Media Queries for responsive */

@media screen and (max-width: 1300px) {
    .buttons {width: 100%; height: 100%;}
    #bandname {padding:40px 40px 40px 40px; font-size:500%}
}

@media screen and (max-width: 1200px) {
    #albumcoming {font-size: 150%; padding-left:40px; padding-top:40px;} 
    .upcoming-shows {max-height: 350px; border: 1px solid #413F2D;}
}

@media screen and (max-width: 1095px) {
    .buttons-text {font-size: 110%;}
    .tracks {font-size: 150%;}
    .credits {font-size: 90%}
  }

  @media screen and (max-width: 974px) {
    .caption {display: none;}
    .caption-two {display: none;}
    .caption-line {display: none;}
    .credits {display: none;}
    .upcoming-shows {max-height: 275px; border: 1px solid #413F2D;}
  }

  @media screen and (max-width: 900px) {
    #bandname {padding:40px; font-size:300%}
    .upcoming-shows {max-height: 230px;}
  }

@media screen and (max-width: 766px) {
    .email-text {font-size: 16px;}
    .email {width: 300px;}
    #nav-logo {display: none;}
    .menu-links {letter-spacing: 0px;}
    #top-panel {padding-top:60px;}
    #brand {visibility: visible; margin-right: 0px; padding-top: 20px;}
    .shows-text {padding-top: 20px;}
    .hideout-m {display: block;}
    .hideout {display:none;}
    .buttons-text {font-size: 110%;padding: 10px 5px 10px 5px;}
    .credits {display: block;}
    .upcoming-shows {max-height: 500px; border: none;}
    .parent-flex {flex-direction: column;}
    .flex {justify-content: space-evenly;}
  } 
  